<template>
  <section id="projects">
    <h2 class="content-container">Meine Projekte</h2>
    <div>
      <Project
        v-for="project in getProjects"
        :key="project.id"
        :project="project"
        :windowWidth="windowWidth"
      ></Project>
    </div>
  </section>
</template>

<style lang="scss" src="./Projects.scss" scoped></style>
<script src="./Projects.js"></script>
