@import "~@/style/vars";

#projects {
  overflow: auto;
  padding: 100px 0;
  width: 100vw;
  h2 {
    padding-left: 20px;
    margin-bottom: 50px;

    @media screen and(min-width: $screen-l) {
      padding-left: inherit;
    }
  }

  > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
