<template>
  <article id="project" :style="{ 'background-image': 'url(' + project.images[0] + ')' }">
    <div :style="{ 'background-image': 'url(' + project.imageURL + ')' }"></div>
    <h4>{{ project.name }}</h4>
    <router-link tag="a" :to="`projects/` + project.id">Mehr erfahren</router-link>
  </article>
</template>

<style lang="scss" src="./Project.scss" scoped></style>
<script src="./Project.js"></script>
