@import "~@/style/vars";

#project {
  background: {
    color: transparent;
    position: center;
    size: cover;
  }

  box-sizing: border-box;
  color: white;
  padding: 20px;
  position: relative;
  transition: 0.4s;
  width: 100%;
  z-index: 0;
  > div {
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }

    opacity: 0;
    height: 300px;
    margin: auto;
    width: 200px;
  }

  a {
    color: white;
    float: right;
  }

  &:hover {
    box-shadow: 10px 15px 24px -29px rgb(0, 0, 0);
    color: $gray;
    transform: scale(1.1);
    z-index: 1;

    > div {
      opacity: 1;
    }

    a {
      color: $gray;
    }

    &::after {
      background-color: white;
    }
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.4s;
    width: 100%;
    z-index: -1;
  }

  @media screen and(min-width: $screen-s) {
    width: 50%;
  }

  @media screen and(min-width: $screen-l) {
    width: 25%;
  }
}
