@import "~@/style/vars";

#process {
  margin-bottom: 150px;
  h2 {
    padding: 0 20px;

    @media screen and(min-width: $screen-l) {
      padding: 0;
    }
  }
  article {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 10px 15px 24px -29px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px auto;
    padding: 20px 10px;
    width: calc(100% - 20px);

    p {
      text-align: left;
      max-width: 400px;
    }
    > div {
      width: 100%;
    }

    .image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 200px;
      margin: 0 30px 20px 0;
      width: 200px;
    }

    &#mannequin {
      .image {
        background-image: url(~@/assets/illustartionen/mannequin.svg);
      }
    }

    &#stoff {
      .image {
        background-image: url(~@/assets/illustartionen/stoff.svg);
      }
      flex-direction: column-reverse;

      @media screen and(min-width: $screen-s) {
        flex-direction: row;
      }
    }

    &#pen {
      .image {
        background-image: url(~@/assets/illustartionen/pencil.svg);
      }
    }

    &#cut {
      .image {
        background-image: url(~@/assets/illustartionen/cut.svg);
      }
      flex-direction: column-reverse;
      @media screen and(min-width: $screen-s) {
        flex-direction: row;
      }
    }

    &#sewing {
      .image {
        background-image: url(~@/assets/illustartionen/sewing-machine.svg);
      }
    }

    &#detail {
      .image {
        background-image: url(~@/assets/illustartionen/detail.svg);
      }
      flex-direction: column-reverse;

      @media screen and(min-width: $screen-s) {
        flex-direction: row;
      }
    }

    @media screen and(min-width: $screen-s) {
      box-shadow: none;
      flex-direction: row;
      padding: 0px;
      margin: 30px auto;

      &:nth-of-type(even) {
        h4 {
          text-align: right;
        }

        p {
          text-align: right;
          float: right;
        }

        .image {
          margin: 0 0 0 30px;
        }
      }
    }
  }

  > div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 150px;

    > div {
      background-color: $light-steel-blue-80;
      height: 10px;
      position: relative;
      transform: rotate(20deg);
      width: 10px;

      &.isActive {
        background-color: $dark-slate-blue;

        &::after {
          border: 1px solid black;
          bottom: 1px;
          content: "";
          height: 100%;
          left: 1px;
          position: absolute;
          width: 100%;
        }
      }
      &:nth-of-type(odd) {
        transform: rotate(-20deg);
      }
    }
  }
}
