<template>
  <section id="process" class="content-container">
    <h2>Mein Prozess</h2>
    <article
      class="content-wrapper"
      id="mannequin"
      v-if="windowWidth >= 800 || index == 1"
    >
      <div class="image"></div>
      <div>
        <h4>Schnittmuste aussuchen</h4>
        <p>
          Scheint ist verband gar endlich erstieg lockere weg. Spiel das alt
          knapp bette gru. Licht la schau stand tiefe bello im. Gehts im ob
          deine dafur es ei.
        </p>
      </div>
    </article>
    <article
      class="content-wrapper"
      id="stoff"
      v-if="windowWidth >= 800 || index == 2"
    >
      <div>
        <h4>Stoff aussuchen</h4>
        <p>
          Scheint ist verband gar endlich erstieg lockere weg. Spiel das alt
          knapp bette gru. Licht la schau stand tiefe bello im. Gehts im ob
          deine dafur es ei.
        </p>
      </div>
      <div class="image"></div>
    </article>
    <article
      class="content-wrapper"
      id="pen"
      v-if="windowWidth >= 800 || index == 3"
    >
      <div class="image"></div>
      <div>
        <h4>Aufzeichnen</h4>
        <p>
          Scheint ist verband gar endlich erstieg lockere weg. Spiel das alt
          knapp bette gru. Licht la schau stand tiefe bello im. Gehts im ob
          deine dafur es ei.
        </p>
      </div>
    </article>
    <article
      class="content-wrapper"
      id="cut"
      v-if="windowWidth >= 800 || index == 4"
    >
      <div>
        <h4>Ausschneiden</h4>
        <p>
          Scheint ist verband gar endlich erstieg lockere weg. Spiel das alt
          knapp bette gru. Licht la schau stand tiefe bello im. Gehts im ob
          deine dafur es ei.
        </p>
      </div>
      <div class="image"></div>
    </article>
    <article
      class="content-wrapper"
      id="sewing"
      v-if="windowWidth >= 800 || index == 5"
    >
      <div class="image"></div>
      <div>
        <h4>Nähen</h4>
        <p>
          Scheint ist verband gar endlich erstieg lockere weg. Spiel das alt
          knapp bette gru. Licht la schau stand tiefe bello im. Gehts im ob
          deine dafur es ei.
        </p>
      </div>
    </article>
    <article
      class="content-wrapper"
      id="detail"
      v-if="windowWidth >= 800 || index == 6"
    >
      <div>
        <h4>Details</h4>
        <p>
          Scheint ist verband gar endlich erstieg lockere weg. Spiel das alt
          knapp bette gru. Licht la schau stand tiefe bello im. Gehts im ob
          deine dafur es ei.
        </p>
      </div>
      <div class="image"></div>
    </article>
    <div v-if="windowWidth <= 800">
      <i @click="changeIndex(false)" class="fas fa-chevron-left"></i>
      <div @click="index = 1" :class="{ isActive: index == 1 }"></div>
      <div @click="index = 2" :class="{ isActive: index == 2 }"></div>
      <div @click="index = 3" :class="{ isActive: index == 3 }"></div>
      <div @click="index = 4" :class="{ isActive: index == 4 }"></div>
      <div @click="index = 5" :class="{ isActive: index == 5 }"></div>
      <div @click="index = 6" :class="{ isActive: index == 6 }"></div>
      <i @click="changeIndex(true)" class="fas fa-chevron-right"></i>
    </div>
  </section>
</template>

<style lang="scss" src="./Process.scss" scoped></style>
<script src="./Process.js"></script>
