@import "~@/style/vars";

#wellcome {
  background: {
    color: $gray;
    image: url(~@/assets/fotos/home.jpg);
    position: center;
    repeat: no-repeat;
    size: cover;
  }

  height: 90vh;
  margin-bottom: 300px;
  position: relative;
  width: 100vw;
  z-index: 0;

  .content-container {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    > article {
      margin-left: 20px;
      h2 {
        margin: 50px 0 0 0;
      }
      @media screen and(min-width: $screen-l) {
        margin-left: inherit;
      }
    }

    > div {
      bottom: -100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: absolute;
      width: 100%;

      h3 {
        width: 100%;
        margin-left: 20px;
        @media screen and(min-width: $screen-l) {
          margin-left: inherit;
        }
      }

      article {
        margin: auto;
        width: calc(100% - 20px);

        @media screen and(min-width: 800px) {
          width: calc(50% - 10px);
        }

        @media screen and(min-width: 1000px) {
          width: calc(100% / 3 - 10px);
        }

        @media screen and(min-width: 1200px) {
          width: calc(25% - 10px);
        }
      }
    }
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
