<template>
  <section id="wellcome">
    <div class="content-container">
      <article>
        <h2>Willkommen bei Litschi.</h2>
        <h1>Kleider, die glücklich machen</h1>
      </article>
      <div>
        <h3>Lieblingsarbeiten</h3>
        <Favorit v-for="favorit in currentFavorits" :key="favorit.id" :favorit="favorit"></Favorit>
      </div>
    </div>
  </section>
</template>

<style lang="scss" src="./Wellcome.scss" scoped></style>
<script src="./Wellcome.js"></script>
