@import "~@/style/vars";

#cv {
	background: {
		color: #C7D1E6;
	}

	overflow: auto;
	padding: 100px 0;
	width: 100vw;

	.content-container {
		color: white;
		margin: 0 20px;

		h2 {
			margin-bottom: 50px;
		}

		>div {
			align-items: center;
			display: flex;
			flex-direction: row;
		}

		@media screen and(min-width: $screen-l) {
			margin: auto;
		}
	}
}