<template>
  <section id="cv">
    <div class="content-container">
      <h2>Meine Meilensteine</h2>
      <div>
        <Milestone v-for="milestone in getMilestones" :key="milestone.id" :milestone="milestone"></Milestone>
      </div>
    </div>
  </section>
</template>

<style lang="scss" src="./CV.scss" scoped></style>
<script src="./CV.js"></script>
