@import "~@/style/vars";

#favorit {
  background: {
    color: white;
  }

  box-shadow: 10px 15px 24px -29px rgb(0, 0, 0);
  box-sizing: border-box;
  color: $gray;
  padding: 20px;

  >div {
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }

    height: 300px;
    margin: auto;
    width: 200px;
  }

  a {
    float: right;
  }

}