<template>
  <article id="favorit">
    <div :style="{ 'background-image': 'url(' + favorit.imageURL + ')' }"></div>
    <h4>{{ favorit.name }}</h4>
    <router-link tag="a" :to="`projects/` + favorit.id">Mehr erfahren</router-link>
  </article>
</template>

<style lang="scss" src="./Favorit.scss" scoped></style>
<script src="./Favorit.js"></script>
