@import "~@/style/vars";

#about {
	article {
		align-items: center;
		background-color: white;
		box-shadow: 10px 15px 24px -29px black;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 200px 10px 0 10px;
		padding: 10px;

		>div {
			align-self: flex-start;
			max-width: 500px;
		}

		.image {

			background: {
				color: $gray;
				image: url(~@/assets/fotos/lina.jpg);
				position: center;
				repeat: no-repeat;
				size: cover;
			}

			box-shadow: 10px 15px 24px -29px rgb(0, 0, 0);
			height: 400px;
			margin: 0 auto 20px auto;
			position: relative;
			width: calc(100% - 40px);

			&:before {
				border: 2px solid black;
				content: "";
				height: 100%;
				left: 30px;
				position: absolute;
				top: -20px;
				width: 100%;
			}

		}

		&:nth-child(1) {
			flex-direction: column-reverse;

			.image {
				background-image: url(~@/assets/fotos/nähen.jpg);

				&:before {
					left: -30px;
					right: 30px;
				}
			}

			@media screen and(min-width: $screen-s) {
				flex-direction: row;
			}
		}

		&:nth-child(2) {
			.image {
				background-image: url(~@/assets/fotos/stoff.jpg);
			}

			@media screen and(min-width: $screen-s) {
				flex-direction: row;
			}
		}

		&:nth-child(3) {
			flex-direction: column-reverse;

			.image {
				&:before {
					left: -30px;
					right: 30px;
				}

			}

			@media screen and(min-width: $screen-s) {
				flex-direction: row;
			}
		}

		@media screen and(min-width: $screen-s) {
			padding: 0;
			box-shadow: unset;
			margin: 200px 0 0 0;
			height: 450px;

			.image {
				align-self: flex-end;
				margin: unset;
				width: 300px;
			}
		}
	}
}