<template>
  <section id="about" class="content-wrapper">
    <article>
      <div>
        <h3>Was nähe ich?</h3>
        <p>Seit einigen Jahren nutze ich fast alle Ferien und Freizeit, um mir Kleidungsstücke zu nähen. Begonnen habe ich überwiegend mit Hosen, weil ich mit meiner Körpergrösse von 1.82m selten passende Hosen in den Geschäften finden kann. Mittlerweile habe ich mich aber auch schon an ganz andere Dinge gewagt, wie beispielsweise Blusen oder Kleider. Ich probiere immer wieder mal neue Sachen aus und freue mich, wenn ich meine selbstgenähten Stücke tragen kann oder wenn sie sogar von anderen getragen werden.</p>
      </div>
      <div class="image"></div>
    </article>
    <article>
      <div class="image"></div>
      <div>
        <h3>Die Stoffläden</h3>
        <p>Schon als ich ganz klein war durfte ich immer wieder mit meiner Mutter und meiner Grossmutter mitfahren, um Stoffe zu kaufen. Ich habe das geliebt und auch heute ist es immer wieder ein Highlight für mich in die Welt der Farben, Formen und Materialien einzutauchen. Das faszinierendste an den Stoffen finde ich, dass einem Stoff noch nicht gegeben ist, was aus ihm wird. Wenn ich einen Stoff sehe und fühle, dann löst das in mir meine Kreativität aus. Ich mache mir Gedanken, was aus ihm werden kann, wer ihn tragen soll und zu welchen Anlässen er gut geeignet wäre. Am liebsten suche ich mir die Stoffe sogar vor dem Schnittmuster aus, weil man so noch viel freier ist. Und was ist schon ein guter Schnitt mit dem falschen Stoff?</p>
      </div>
    </article>
    <article>
      <div>
        <h3>Wer ich bin</h3>
        <p>Ganz oberflächlich gesehen ist mein Name Lina Villiger und ich bin 18 Jahre alt, doch die Frage lautete eigentlich wer bin ich, und da wird es schon schwieriger. Ich bin eine Person, die es liebt mit den eigenen Händen und der eigenen Kreativität neue Dinge entstehen zu lassen. Meine Freunde fragen mich manchmal woher meine Motivation kommt Projekte anzureissen und anzupacken, und manchmal frage ich mich das auch selbst, wenn mir etwas über den Kopf wächst, doch ich glaube, dass ich mich einfach wahnsinnig gerne neuen Herausforderungen stelle. Das war jetzt nur ein kurzer Einblick in einen Teil von dem was ich bin. Wahrscheinlich ist es am besten, wenn man mich einfach einmal kennenlernt und sich ein eigenes Bild und eine eigene Geschichte formt.</p>
      </div>
      <div class="image"></div>
    </article>
  </section>
</template>

<style lang="scss" src="./About.scss" scoped></style>
<script src="./About.js"></script>
