<template>
  <nav>
    <div class="content-container">
      <div></div>
      <div>
        <router-link to="/">Home</router-link>
        <router-link to="/about">Projekte</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="/about">Prozess</router-link>
      </div>
    </div>
  </nav>
</template>

<style lang="scss" src="./Navigation.scss" scoped></style>
<script src="./Navigation.js"></script>
