@import "~@/style/vars";

nav {

  background: {
    color: white;
  }

  box-shadow: 0px 15px 24px -29px rgba(92, 92, 92, 1);
  height: 65px;
  left: 0;
  opacity: .97;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  .content-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;

    >div {
      &:nth-child(1) {

        background: {
          image: url(~@/assets/logo.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        }

        margin-right: 10px;
        height: 55px;
        width: 55px;
      }

      &:nth-child(2) {
        a {
          margin-right: 18px;
        }
      }
    }

  }
}