@import "./vars";
@import "./reset";

* {
  box-sizing: border-box;
}

body {
  color: $gray;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;

  section {
    margin-bottom: 100px;

    &:not(:first-of-type) {
      margin-top: 100px;
    }
  }

  .content-container {
    margin: auto;
    padding: auto 20px;
    max-width: 1200px;
    width: 100%;

    @media screen and(min-width: 1200px) {
      padding: auto;
    }
  }

  .content-wrapper {
    margin: auto;
    padding: auto 10px;
    max-width: 1000px;
    width: 100%;

    @media screen and(min-width: 1000px) {
      padding: auto;
    }
  }

  a {
    color: $gray;
    text-decoration: none;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    font-weight: 500;

    @media screen and(min-width: 1200px) {
      font-size: 6rem;
    }
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;

    @media screen and(min-width: 1200px) {
      font-size: 4rem;
    }
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;

    @media screen and(min-width: 1200px) {
      font-size: 2rem;
    }
  }

  h4 {
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 30px;

    @media screen and(min-width: 1200px) {
      font-size: 1.5rem;
    }
  }
}