<template>
  <section id="project-detail">
    <article>
      <div>
        <div class="content-container">
          <router-link tag="i" class="fas fa-arrow-left" to="/"></router-link>
        </div>
      </div>
    </article>
    <article class="content-container">
      <div>
        <h2>Die Winterhose</h2>
        <div>
          <h3>Was steckt dahinter?</h3>
          <p>
            Diese Hosen waren eine meiner ersten Hosen, die ich überhaupt genäht
            und angezogen habe. Ich habe Sie im Winter von 2018 genäht und ich
            war ziemlich stolz darauf auch im Winter meine eigenen Hosen anhaben
            zu können. Sie bestehen nämlich aus sehr dichtem Jeansstoff und sind
            sehr gut geeignet, um auch an kälteren Tagen zu tragen. Mittlerweile
            habe ich diese Hose sogar schon einmal für eine gute Freundin
            nachgenäht.
          </p>
        </div>
        <div>
          <h3>Was habe ich gelernt?</h3>
          <div>
            <h4>Learning</h4>
            <p>
              Diese Hosen waren eine meiner ersten Hosen, die ich überhaupt
              genäht und angezogen habe. Ich habe Sie im Winter von 2018 genäht
              und ich
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>
</template>

<style lang="scss" src="./ProjectDetail.scss" scoped></style>
<script src="./ProjectDetail.js"></script>
