@import "~@/style/vars";

#project-detail {

	article {
		&:nth-of-type(1) {
			background-image: url(http://linavilliger.ch/images/winterhose/DSC00260.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			color: white;
			font-size: 24px;
			height: 90vh;
			width: 100vw;
			position: relative;
			z-index: 0;

			>div {
				cursor: pointer;
				padding: 10px 0;
				position: fixed;
				width: 100%;
				z-index: 1;
			}


			&:after {
				background-color: rgba(0, 0, 0, 0.1);
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 0;
			}
		}

		&:nth-of-type(2) {
			background-color: white;
			box-shadow: 10px 15px 24px -29px rgb(0, 0, 0);
			box-sizing: border-box;
			padding: 20px;
			margin: 0 10px;
			position: relative;
			top: -60px;
			width: calc(100% - 20px);

			>div {

				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: space-between;

				h2 {
					width: 100%;
				}

				>div {
					width: 100%;
					margin-bottom: 30px;


					>div {
						box-shadow: 0 0 4px 0 #c7d1e6;
						padding: 20px;
						position: relative;

						&:before {
							border: 2px solid black;
							content: "";
							height: 100%;
							left: -15px;
							position: absolute;
							top: -10px;
							width: 100%;
						}

					}

					&:nth-of-type(2) {
						max-width: 450px;
					}
				}

			}

			@media screen and(min-width:$screen-s) {
				padding: 50px;
				margin: auto;

				>div {
					flex-direction: row;

					>div {
						width: calc(50% - 20px);

					}
				}

			}
		}
	}
}