@import "~@/style/vars";

footer {

  background: {
    color: $light-steel-blue-60;
  }

  height: 65px;
  width: 100vw;

  .content-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 10px;

    >div {
      &:nth-child(1) {
        display: none;

        @media screen and(min-width: $screen-s) {
          display: block;
        }
      }

      &:nth-child(3) {

        a {
          margin-right: 10px;
        }
      }
    }

  }
}