<template>
  <footer>
    <div class="content-container">
      <div></div>
      <p>© Litschi 2020</p>
      <div>
        <a href="mailto:Lina@linavilliger.ch">Lina@linaVilliger.ch</a>
        <a href="https://www.instagram.com/lii.tschi/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" src="./Footer.scss" scoped></style>
<script src="./Footer.js"></script>
