<template>
  <div id="milestone">
    <i class="fas fa-trophy fa-lg" v-if="milestone.isMilestone"></i>
    <i class="fas fa-graduation-cap fa-lg" v-else></i>
    <h4>{{ milestone.name }}</h4>
    <p>
      {{milestone.startDate}}
      <span v-if="milestone.endDate">- {{milestone.endDate}}</span>
    </p>
  </div>
</template>

<style lang="scss" src="./Milestone.scss" scoped></style>
<script src="./Milestone.js"></script>
