@import "~@/style/vars";

#milestone {
	background: {
		color: white;
	}

	box-shadow: 10px 15px 24px -29px rgb(0, 0, 0);
	color: $gray;
	margin-right: 25px;
	padding: 20px;
	position: relative;
	min-width: 250px;

	&:before {
		border: 2px solid $light-steel-blue-80;
		content: "";
		height: 100%;
		position: absolute;
		right: -8px;
		top: -5px;
		width: 100%;
	}
}