<template>
  <div class="home">
    <Navigation></Navigation>
    <Wellcome :windowWidth="windowWidth" />
    <About />
    <CV />
    <Projects />
    <Process :windowWidth="windowWidth" />
  </div>
</template>

<style lang="scss" src="./Home.scss" scoped></style>
<script src="./Home.js"></script>
