<template>
  <div id="app">
    <router-view :windowWidth="windowWidth" />
    <Footer></Footer>
  </div>
</template>

<style lang="scss" src="./style/general.scss"></style>
<script>
import Footer from "@/components/Footer/Footer.vue";

export default {
  name: "App",
  components: {
    Footer,
  },
  data() {
    return {
      windowWidth: 10,
    };
  },
  created() {
    this.windowWidth = window.innerWidth;
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  },
  watch: {
    windowWidth(newWidth) {
      this.windowWidth = newWidth;
    },
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
      if (window.innerWidth <= 800) {
        this.navOpen = false;
      } else {
        this.navOpen = true;
      }
    },
  },
};
</script>
